

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 25px;
  width: 350px;
  max-width: 90%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;

  overflow-wrap: break-word;
}

h1 {
  margin-bottom: 20px;
}

.inputBox {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputBox input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.inputBox button {
  padding: 10px 15px;
  border: none;
  background: #667eea;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.inputBox button:hover {
  background: #5a67d8;
}

.list {
  list-style: none;
}

.list li {
  background: #f3f3f3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  word-break: break-word;

}

.list li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}